*.py[co]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# log file
log/files/server.log

IFP3800_MS/gui/chrome/etc/custom.conf
IFP3800_MS/gui/log/ifpms.log
IFP3800_MS/gui/log/packet.log
IFP3800_MS/gui/chrome/etc/alarm.log

QIfpms/options/*.json
