grid{
color:black;
background-color:white;
}
#DC_info_show{
color:black;
background:white;
}
treechildren::-moz-tree-line
{
    visibility: visible ;
   border:1px dotted gray;
}
treechildren::-moz-tree-row
{
/*background:red;*/
/* borders:2px solid red;*/
margin: 5px;
border:0px dashed red;
height:50px;
}
tree.catalog  treechildren::-moz-tree-row{

margin: 5px;
border:0px dashed red;
height:20px;

}
treechildren::-moz-tree-row(selected) {
    background: green !important;
}
treechildren::-moz-tree-twisty
{
border:0px groove blue;
}
treechildren::-moz-tree-image(item_dc) {
    list-style-image: url("chrome://ifpms/skin/images/icons/Bin_Empty.png");
    
}
treechildren::-moz-tree-image(item_pa) {
    list-style-image: url("chrome://ifpms/skin/images/icons/Security.png");
}
treechildren::-moz-tree-image
{
  /*  list-style-image: url("chrome://ifpms/skin/images/icons/Bin_Empty11.png"); */
}
