#alarmtable{
border:1px solid gray;
width:100%;
color:black;
margin-top:10px;
max-height:80%;
overflow:scroll;
}
#alarmtable tr {
background-color:#ffffff;
}
#alarmtable  input {
width:200px;
}
.alarm_foot_cls{
margin-top:10px;
color:black;    
}
.tr_cls1{
background:#80ff80;
}
.tr_cls2{
background:#008080;
}
.tr_cls3{
background:#ff8080;
}
.tr_cls4{
background:#0080ff;
}
.tr_cls5{
background:#008000;
}
.tr_cls6{
background:#808000;
}
.contHideShow{ display:none;}
dialog{
margin:0; padding:0;
}
#check_wave{display:none;}
#alarm_title{
background:#ff0000;height:40px; width:100%; text-align:center; margin:3px; -moz-border-radius: 5px;
}
#alarm_title label{
width:100px; margin-left:275px; color:#fff; font-size:16px; margin-top:12px; font-weight:bold;
}
#alarm_tit{
background:#ff0000;height:48px; width:100%; text-align:center; padding-left:265px; margin:3px; -moz-border-radius: 5px;
}
#alarm_tit label{
color:#fff; font-size:20px; margin-top:14px; font-weight:bold;
}
.group_box{
background-color:rgb(225,223,235); margin-left:3px; margin-right:3px;
}
#alarmConfirm{
background:#ff0000;height:40px; width:100%; text-align:center; margin:3px; -moz-border-radius: 5px; 
}
#alarmConfirm label{
color:#fff; margin-top:15px;  
}
.gsd{ display:none;}