#indexalarmtable{ width:100%; margin:auto; border-top:1px solid #FFDDC6; border-left:1px solid #FFDDC6; color:#FFDDC6}
#indexalarmtable tr{ height:30.5px;}
#indexalarmtable tr td,#indexalarmtable tr th{ border-right:1px solid #FFDDC6; border-bottom:1px solid #FFDDC6; text-align:center; color:#FFDDC6;}
#indexalarmtable tr th{ font-size:13px;}
#boxDeviceTree{
    min-width: 300px; 
/*    max-width: 450px;  */
}


richlistbox {
  background: #303030;
  color: #FFDDC6;
  -moz-appearance: none;
  border-top: 1px solid;
  margin: 0px;
}

richlistbox[disabled="true"] {
}

richlistitem {
  -moz-binding: url("chrome://ifpms/content/protectionArea.xml#protectionArea");
  border-bottom: 1px solid;
  padding: 5px;
}

richlistitem[selected="true"], richlistitem:hover {
  background: #B0B0B0;
  color: #000000;
}

richlistitem .pa-buttons {
  -moz-binding: url("chrome://ifpms/content/protectionArea.xml#buttons");
}

richlistitem .pa-buttons,richlistitem[permission="0"]:hover .pa-buttons,richlistitem[selected="true"][permission="0"] .pa-buttons {
  display: none;
}

richlistitem:hover .pa-buttons,richlistitem[selected="true"] .pa-buttons {
  display: block;
}

/*richlistitem[permission="0"]:hover .pa-buttons{
  display: none;
}*/

/*richlistitem[selected="true"] .pa-buttons {
  display: block;
}*/

/*richlistitem[selected="true"][permission="0"] .pa-buttons {
  display: none;
}*/

richlistitem:hover{
    background:#B0B0B0;
}


richlistitem:not([selected="true"]) .coord,
richlistitem:not([selected="true"]) .desc,
richlistitem:not([selected="true"]) .enableplot,
richlistitem:not([selected="true"]) .plot-span,
richlistitem:not([selected="true"]) .plot-freq
{
  display: none;
}

.paStateIcon {
  width: 20px;
  height: 20px;
}

richlistitem .paStateIcon, richlistitem.disconn .paStateIcon, richlistitem.disable .paStateIcon {
  list-style-image: url("chrome://ifpms/skin/images/32/normal.png");
}

richlistitem.connect .paStateIcon ,richlistitem.start .paStateIcon{
  list-style-image: url("chrome://ifpms/skin/images/32/connect.png");
}

richlistitem.alarm_minor .paStateIcon, richlistitem.alarm_fiber_break .paStateIcon {
  list-style-image: url("chrome://ifpms/skin/images/32/alarm_minor.png");
}

richlistitem.alarm_critical .paStateIcon, richlistitem.alarm_blast .paStateIcon {
  list-style-image: url("chrome://ifpms/skin/images/32/alarm_critical.png");
}

richlistitem.rain_wind .paStateIcon{
  list-style-image: url("chrome://ifpms/skin/images/32/rainWind.png");
}

#boxDeviceTree button {
  background: #303030;
  color: #FFDDC6;
  min-width: 3.2em;
  margin: 0px 1px;
  border: 0px solid;
  -moz-border-radius: 3px;
  -moz-border-top-colors: #A0A0A0;
  -moz-border-left-colors: #A0A0A0;
  -moz-border-bottom-colors: #101010;
  -moz-border-right-colors: #101010;
  -moz-appearance: none; 
}

#boxDeviceTree button:hover  {
	background: #FF6600;
	color: #FFDDC6;
	-moz-border-top-colors: #FFB07C;
	-moz-border-left-colors: #FFB07C;
	-moz-border-bottom-colors: #A8561F;
	-moz-border-right-colors: #A8561F;
}

#boxDeviceTree button:active {
	background: #FF6600;
	color: #FFDDC6;
	border-width: 0px;
	-moz-border-top-colors: #A8561F;
	-moz-border-left-colors: #A8561F;
	-moz-border-bottom-colors: #FFB07C;
	-moz-border-right-colors: #FFB07C;
}
