.default { display:none;}

#head {
    border:0px;
    background: #7b7b7b;
    padding: 10px 10px 10px 10px;
/*    opacity:0.8;*/    
}

#user_login{
	background: url("chrome://ifpms/skin/images/cover.jpg");
    background-repeat: no-repeat;
    opacity:0.9;   
}

label, p{
    background: #ffffff;
}